{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "FB": true,
    "google": true,
    "Firebase": true,
    "geoplugin_longitude": true,
    "geoplugin_latitude": true,
    "geoplugin_city": true,
    "geoplugin_countryName" : true
  }
}
