<footer class="page-footer blue center-on-small-only">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h3 class="white-text">CityExplorer</h3>
            </div>
            <div class="col-md-3">
                <ul class="footer-list">
                    <li><a class="grey-text text-lighten-3" href="#/trip">Plan a trip</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/favorite">Favorite places</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="footer-list">
                    <li><a class="grey-text text-lighten-3" href="#/category">Categories: </a></li>
                    <li><a class="grey-text text-lighten-3" href="#/category/museum">Museum</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/category/bar">Bar</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/category/cafe">Cafe</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/category/club">Club</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/category/hotel">Hotel</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/category/restaurant">Restaurant</a></li>
                </ul>
            </div>
            <i class="material-icons button-top" ng-click="moveToTop()">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
            © 2016 Copyright M@lfi
        </div>
    </div>
</footer>
