<nav class="navbar z-depth-2 blue">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class=""></span>  CityExplorer
      </a>
    </div>

    <div class="navigation-bar" ng-if="navBarVm.user.connected">
        <input id="navigation-checkbox" class="navigation-checkbox" type="checkbox" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <label class="navigation-toggle" for="navigation-checkbox">
            <span class="navigation-toggle-icon"></span>
        </label>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
         ng-if="navBarVm.user.connected">
        <ul class="nav navbar-nav" role="menu">
            <li class="category"><a class="nav-category" href="#/category" >Category</a></li>
            <li class="museum"><a href="#/category/museum" >Museum</a></li>
            <li class="bar"><a href="#/category/bar" >Bar</a></li>
            <li class="cafe"><a href="#/category/cafe" >Cafe</a></li>
            <li class="club"><a href="#/category/club" >Club</a></li>
            <li class="hotel"><a href="#/category/hotel" >Hotel</a></li>
            <li class="restaurant"><a href="#/category/restaurant" >Restaurant</a></li>
            <li class="user-interface dropdown">
                <span uib-dropdown on-toggle="toggled(open)">
                    <a id="user-button simple-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img ng-src="{{navBarVm.user.picture}}">
                    </a>
                    <ul class="dropdown-menu user-dropdown" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a tabindex="-1" href="#/favorite" class="dropdown-header">Favorite places</a></li>
                        <li><a tabindex="-1" href="#/trip" class="dropdown-header">Plan a trip</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#/" ng-click="navBarVm.logoutFB();">Log out</a></li>
                    </ul>
                </span>
            </li>
        </ul>
    </div>
  </div>
</nav>
<script></script>
