<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span>  CityExplorer
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6"
         ng-if="navCtrl.user.connected">
        <ul class="nav navbar-nav" role="menu">
            <li class="category"><a href="#/category" >Category</a></li>
            <li class="museum"><a href="#/category/museum" >Museum</a></li>
            <li class="bar"><a href="#/category/bar" >Bar</a></li>
            <li class="cafe"><a href="#/category/cafe" >Cafe</a></li>
            <li class="club"><a href="#/category/club" >Club</a></li>
            <li class="hotel"><a href="#/category/hotel" >Hotel</a></li>
            <li class="restaurant"><a href="#/category/restaurant" >Restaurant</a></li>
            <li class="user-interface dropdown">
                <span uib-dropdown on-toggle="toggled(open)">
                    <a href id="user-button simple-dropdown" uib-dropdown-toggle>
                        <img ng-src="{{navCtrl.user.picture}}">
                    </a>
                    <ul class="dropdown-menu user-dropdown" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a tabindex="-1" class="dropdown-header">Account info</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#/" ng-click="navCtrl.logoutFB();">Log out</a></li>
                    </ul>
                </span>
            </li>
        </ul>
    </div>
  </div>
</nav>
