.acme-navbar-text {
  color: white;
}
.navbar-nav {
    float: right !important;
}
.navbar-inverse {
    background-color: #fff;
    margin: 0;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}
.navbar-inverse .navbar-brand {
    color: #C66262;
}
.navbar-inverse .navbar-brand:hover {
    color: black !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #5A4F72;
}
.user-interface span{
    position: initial;
}
.container-fluid {
    padding-right: 0px;
}
.user-button {
    padding: 0;
    border: 0;
}
.user-dropdown {
    left: auto;
    right: 0%;
    min-width: 150px;
}
