.title p::first-letter {
    text-transform: uppercase;
}

.title a {
    color: #fff;
}

.title p {
    font-size: 40px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.63);
    width: 100%;
    margin-top: 65px;
}
.title a{
    text-decoration: none;
}
.category-wrapper {
    margin-top: 145px;
}
.category-wrapper .title-wrapper .museum {
    background-image: url('../../assets/images/museum.jpg') !important;
    background-size: cover !important;
}
.category-wrapper .title-wrapper .bar {
    background-image: url('../../assets/images/bar.jpg') !important;
    background-size: cover !important;
}
.category-wrapper .title-wrapper .cafe {
    background-image: url('../../assets/images/cafe.jpg') !important;
    background-size: cover !important;
}
.category-wrapper .title-wrapper .club {
    background-image: url('../../assets/images/club.jpg') !important;
    background-size: cover !important;
}
.category-wrapper .title-wrapper .hotel {
    background-image: url('../../assets/images/hotel.jpg') !important;
    background-size: cover !important;
}
.category-wrapper .title-wrapper .restaurant {
    background-image: url('../../assets/images/restaurant.jpg') !important;
    background-size: cover !important;
}
.category-item-wrapper {
    background: black;
}
