<div class="jumbotron text-center">
    <div class="filter">
        <div class="row">
            <div class="range-slider-wrapper">
                <h3>Change the search area:</h3>
                <input type="range"
                       min="100" max="3000" step="100"
                       ng-model="categoryVm.rangeModel"
                       ng-change="categoryVm.setRange()" />
                <h2>{{categoryVm.rangeModel}} meters</h2>
            </div>
            <div class="category-wrapper">
                <div class="col-sm-6 col-md-4"
                     ng-if="categoryVm.ready"
                     ng-repeat="item in categoryVm.categories">
                    <div class="category-item-wrapper">
                        <div class="title-wrapper">
                            <h3 class="title">
                            <a href="#/category/{{item}}" class="thumbnail {{item}}"><p>{{item}}</p></a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
