@media screen and(max-width: 560px){
    #map {
        width: 300px;
        height: 200px;
    }
}

.page-post {
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 12px;
}

.comments-header {
    text-align: center;
}

.line {
    height: 1px;
    background: black;
    width: 200px;
    margin: 0 auto;
}

.comments, .form-wrapper {
    padding: 25px;
}

.const-box {
    height: 550px;
}

.comments-header {
    margin-top: 10px;
}

.comments {
    padding-right: 0px;
    border-left: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 0;
}

.form-wrapper .label {
    color: black;
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: left;
    padding: 6px 0;
}

.form-wrapper .glyphicon {
    font-size: 30px;
    color: #4665A2;
}

.comment-left-stars {
    font-size: 22px;
    color: black;
    float: right;
}

.comment-img {
    float: left;
}

.comment {
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 12px;
}

.comment-info {
    width: 100%;
    display: inline-block;
}

.form-wrapper input {
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
}

.form-wrapper textarea {
    max-width: 100%;
    width: 100%;
    min-height: 160px;
    padding: 7px;
}

.label-comment {
    float: left;
}

.comments-wrapper .comments .comment-overflow {
    height: 500px;
    overflow-y: scroll;
    padding-right: 25px;
}

.page-post p {
    color: #141823;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

.via-posts {
    padding: 0 25px;
}

#map {
    width: 470px;
    height: 400px;
}
.info-wrapper {
    background: #FFF;
    margin-top: 50px;
    -webkit-box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
}
.info-block {
    padding: 25px;
}
.map-block {
    padding: 25px;
}
.links {
    margin-top: 15px;
}
.links a {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}
.item-header {
    margin: 0 auto;
    display: table;
    text-align: center;
}
.item-header h1 {
    padding: 7px 50px;
    background: rgba(41, 41, 41, 0.74);
    -webkit-box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    color: white;
    border-radius: 0px;
}
.show-comments {
    text-align: center;
    color: gray;
}
