<div class="jumbotron">
    <div class="filter {{infoVm.actualCategory}}">
        <div class="item-header"><h1>{{infoVm.elemInfo.name}}</h1></div>
        <div class="row info-wrapper">
            <div class="col-sm-12 col-md-6 info-block">
                <div>
                    <img class="pull-right"
                        ng-src="{{infoVm.elemInfo.picture.data.url}}">
                        <h3 class="likes">{{infoVm.elemInfo.engagement.social_sentence}}</h3>
                        <button type="button" class="btn btn-success btn-xs"
                        ng-click="infoVm.addFavorite(infoVm.elemInfo)"
                        ng-if="!infoVm.favoriteBtnState"
                        >Add to favorite!</button>
                        <button type="button" class="btn btn-success btn-xs"
                        ng-click="infoVm.addToTrip(infoVm.elemInfo)"
                        ng-if="!infoVm.tripBtnState"
                        >Add to trip!</button>
                    <div class="caption">
                        <h3>{{infoVm.elemInfo.name}}</h3>
                        <h4>{{infoVm.elemInfo.category}}</h4>
                        <p>{{infoVm.elemInfo.about}}</p>
                        <p>Phone number: {{infoVm.elemInfo.phone}}</p>
                        <p>{{infoVm.elemInfo.price_range}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 map-block"
                 ng-if="infoVm.googleMapApiReady">
                <ce-google-map position="infoVm.position"></ce-google-map>
                <div class="links">
                    <a ng-href="{{infoVm.elemInfo.link}}">Facebook page</a><br>
                    <a href="{{infoVm.elemInfo.website}}">Website</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 via-posts">
                <h3 class="show-comments" ng-click="infoVm.showPosts()">
                    <span class="caret"></span>
                    Show last posts
                    <span class="caret"></span>
                </h3>
            </div>
            <div class="col-sm-12 col-md-12 via-posts">
                <div class="page-post"
                     ng-repeat="post in infoVm.elemInfo.posts.data"
                     ng-if="infoVm.isPosts">
                     <div class="post">
                         <div class="post-img">
                             <img ng-src="{{infoVm.elemInfo.picture.data.url}}">
                         </div>
                         <span class="post-author">{{infoVm.elemInfo.name}}</span><br>
                         <span class="post-date">{{post.created_time.substring(0,10)}}</span>
                     </div>
                     <div class="post-content">
                        <p>{{post.message}}</p>
                     </div>
                </div>
            </div>
        </div>
        <ce-element-comments></ce-element-comments>
    </div>
</div>


