@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #2196F3 !important;
  }
}
@media (max-width: 1023px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .navbar-nav .category {
    background: white;
  }
  .navbar-nav .category a {
    color: #2196F3 !important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }

  li.user-interface.dropdown {
    background: white;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    text-align: center;
    background: white;
    border-radius: 0;
  }
  .navbar-nav .open .dropdown-menu li {
    text-align: center;
    color: #2196F3;
  }
  .navbar-nav .open .dropdown-menu li a {
    color: #2196F3;
  }

  .glyphicon-menu-hamburger:before {
    color: white;
  }
}
.navbar {
  margin: 0;
  border: 0;
  border-radius: 0;
}
.navbar .navbar-toggle {
  position: absolute;
  right: 0;
  font-size: 22px;
}
.navbar .navbar-header .navbar-brand {
  font-size: 22px;
  font-weight: 600;
}
.navbar .navbar-collapse {
  padding-right: 0;
}
.navbar .navbar-collapse .navbar-nav {
  float: right;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.navbar .navbar-collapse .navbar-nav .user-interface span {
  position: initial;
}
.navbar .navbar-collapse .navbar-nav .user-interface .container-fluid {
  padding-right: 0px;
}
.navbar .navbar-collapse .navbar-nav .user-interface .user-button {
  padding: 0;
  border: 0;
}
.navbar .navbar-collapse .navbar-nav .user-interface .user-dropdown {
  left: auto;
  right: 0%;
  min-width: 150px;
}
.navbar .navbar-collapse .navbar-nav .user-interface img {
  width: 60px;
  height: auto;
}
.navbar .navbar-collapse .navbar-nav .user-interface .dropdown-menu {
  left: -100px;
  top: 57px;
}
.navbar .navbar-collapse .navbar-nav .user-interface .dropdown-menu li a {
  font-size: 18px;
}
