<ce-nav-bar></ce-nav-bar>

<div id="mydiv" spinner><img src="../../assets/images/loading.gif"></div>

<div ng-view></div>

<footer class="page-footer blue center-on-small-only">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="white-text">Footer Content</h3>
            </div>
            <div class="col-md-6">
                <h5 class="white-text">Categories:</h5>
                <ul class="footer-list">
                    <li><a class="grey-text text-lighten-3" href="">Museum</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Bar</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Cafe</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Club</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Hotel</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Restaurant</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
            © 2016 Copyright M@lfi
        </div>
    </div>
</footer>
