<div class="container">
    <div>
        <acme-navbar></acme-navbar>
    </div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-6 col-md-4"
            ng-repeat="item in resCtrl.listByCategory[resCtrl.route] | orderBy:'rank' | limitTo:resCtrl.numberPerPage:(resCtrl.currentPage-1)*resCtrl.numberPerPage">
                <a class="thumbnail"
                   href="#/category/{{resCtrl.route}}/{{item.id}}">
                    <img class="pull-right" ng-src="{{item.picture.data.url}}">
                    <div class="caption">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.location.street }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="btn-wrapper">
        <uib-pagination
            total-items="resCtrl.totalItems"
            items-per-page="resCtrl.numberPerPage"
            ng-model="resCtrl.currentPage"
            max-size="resCtrl.maxSize"
            class="pagination-sm"
            boundary-links="true"
            force-ellipses="true">
        </uib-pagination>
        <pre>{{resCtrl.totalItems | json }}</pre>
    </div>
</div>
