<div class="container">

    <div>
        <acme-navbar></acme-navbar>
    </div>

    <div class="jumbotron text-center">
        <h4>Clik on his head or log in</h4>
        <p class="lead">
            <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        </p>

        <input type="button" value="Login" ng-click="main.loginFB()">
        <input type="button" value="Logout" ng-click="main.logoutFB()">
        <div id="status"></div>

        <div class="login">
            <a href="#/login">Log in without Facebook</a>
        </div>
        <div class="btn btn-success categories-button" ng-hide="main.connected">
            <a href="#/category">Checkout categories around you!</a>
        </div>
    </div>


</div>
