.login {
	margin-top: 30px;
	margin-bottom: 15px;
}

.login a {
	background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.lead:active img{
   transform: rotate(360deg);
   transition: all 1.5s ;
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
}
