/*   .css-form .has-error {
    border: 1px solid red;
    background: red;
  } */
.css-form {
    margin-top: 10px;
}

.form-name, .form-surname, .form-content {
    position: relative;
}

.form-stars {
    height: 35px;
    width: 100%;
    position: relative;
}

.person-name {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}

.person {
    float: left;
}

.person .person-date {
    font-size: 13px;
    font-weight: normal;
    margin: 0 10px;
}

.form-name p, .form-surname p, .form-stars p, .form-content p{
    font-size: 14px;
    color: #E64747;
}

.help-block-name, .help-block-surname {
    position: absolute;
    right: 5px;
    top: 42px;
    font-size: 17px;
}

.help-block-stars {
    position: absolute;
    right: 0;
    top: 30px;
}

.help-block-content {
    position: absolute;
    right: 0;
}

.form-wrapper .form-stars {
    margin-top: 8px;
}

.form-stars p {
    float: left;
}

.form-stars .main-stars {
    float: right;
}

.form-stars .rate-paragraph {
    float: left;
    color: black;
    font-size: 16px;
    display: block;
    text-align: left;
    padding: 6px 0;
    font-weight: bold;
}
.comments-header {
    text-align: center;
}

.line {
    height: 1px;
    background: black;
    width: 200px;
    margin: 0 auto;
}

.comments, .form-wrapper {
    padding: 25px;
}

.const-box {
    height: 550px;
}

.comments-header {
    margin-top: 10px;
}

.comment .comment-content p{
    margin: 3px 0;
}

.comments {
    padding-right: 0px;
    border-left: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 0;
}

.form-wrapper .label {
    color: black;
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: left;
    padding: 6px 0;
}

.form-wrapper .glyphicon {
    font-size: 30px;
    color: #4665A2;
}

.comment-left-stars {
    font-size: 22px;
    color: #4665A2;
    float: right;
    pointer-events: none;
}

.comment-img {
    float: left;
}

.comment {
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 12px;
}

.comment-info {
    width: 100%;
    display: inline-block;
}

.form-wrapper input {
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
    transition: ease-in-out, all .5s ease-in-out;
}

.form-wrapper input[type=text]:focus {
    border: 2px solid #fff;
    border-bottom: 2px solid #4665A2;
}

.form-wrapper textarea:focus {
    border: 1px solid #4665A2;
}

.form-wrapper textarea {
    max-width: 100%;
    width: 100%;
    min-height: 160px;
    padding: 7px;
}

.label-comment {
    float: left;
}

.comments-wrapper .comments .comment-overflow {
    height: 500px;
    overflow-y: scroll;
    padding-right: 25px;
}

.form-wrapper button[type=reset] {
    border-radius: 0;
    margin-top: 5px;
}

.form-wrapper button[type=submit] {
    border-radius: 0;
    background: #1B9C0D;
    margin-left: 5px;
    margin-top: 5px;
}

.form-wrapper button[disabled=disabled], .form-wrapper button:disabled {
    background: #3c763d;
}
.form-wrapper button[disabled=disabled]:hover , .form-wrapper button:disabled:hover {
    background: #3c763d;
}

.thanks-img {
    width: 70%;
    height: auto;
    margin: 35px auto;
    display: block;
}

.thanks-header {
    text-align: center;
}
