<div class="row info-wrapper comments-wrapper">
    <div ng-click="elemComVm.showComments()">
        <h3 class="comments-header">
            <span class="caret"></span>
            Comments left by users
            <span class="caret"></span>
        </h3>
    </div>
    <div class="const-box" ng-if="elemComVm.isComment">
        <div class="line"></div>
        <div class="col-sm-6 col-md-6 form-wrapper">
            <form name="form" class="css-form" novalidate>
                <div class="form-name">
                    <label class="label label-name">Given Name</label>
                    <input type="text"
                           ng-class="{'has-error': form.cName.$touched && form.cName.$invalid}"
                           placeholder="{{elemComVm.userInfo.first_name}}"
                           ng-model="comment.name"
                           ng-minlength="3"
                           ng-maxlength="30"
                           name="cName" required=""></input>
                    <div class="help-block-name"
                         ng-messages="form.cName.$error"
                         ng-if="form.$submitted || form.cName.$touched">
                        <p ng-message="required">Tell us your name.</p>
                        <p ng-message="minlength">Your name is too short.</p>
                        <p ng-message="maxlength">Your name is too long.</p>
                    </div>
                </div>
                <div class="form-surname">
                    <label class="label label-surname">Surname</label>
                    <input type="text"
                           ng-class="{'has-error': form.cSurname.$touched && form.cSurname.$invalid}"
                           placeholder="{{elemComVm.userInfo.last_name}}"
                           ng-model="comment.surname"
                           ng-minlength="3"
                           ng-maxlength="30"
                           name="cSurname" required=""></input>
                    <div class="help-block-surname"
                         ng-messages="form.cSurname.$error"
                         ng-if="form.$submitted || form.cSurname.$touched">
                        <p ng-message="required">Tell us your surname.</p>
                        <p ng-message="minlength">Your surname is too short.</p>
                        <p ng-message="maxlength">Your surname is too long.</p>
                    </div>
                </div>
                <div class="form-stars">
                    <p class="rate-paragraph">Rate this place</p>
                    <uib-rating class="main-stars"
                         ng-model="comment.rate"
                         max="5"
                         aria-labelledby="default-rating"
                         name="cStars"
                         required="">
                    </uib-rating>
                    <div class="help-block-stars"
                         ng-messages="form.cStars.$error"
                         ng-if="form.$submitted || form.cStars.$touched">
                        <p ng-message="required">Please rate with stars.</p>
                    </div>
                </div>
                <div class="form-content">
                    <label class="label label-comment">Content of the comment</label>
                    <textarea placeholder="Write your feelings associated with this place..."
                              ng-minlength="15"
                              ng-maxlength="300"
                              ng-model="comment.text"
                              required=""
                              name="content">
                    </textarea>
                    <div class="help-block-content"
                         ng-messages="form.content.$error"
                         ng-if="form.$submitted || form.content.$touched">
                        <p ng-message="minlength">Your comment is too short - min is 15 chars.</p>
                        <p ng-message="maxlength">Your comment is too long - max is 300 chars.</p>
                        <p ng-message="required">Your comment is required.</p>
                    </div>
                </div>
                <button type="reset" class="btn btn-danger" ng-click="">Reset form</button>
                <button type="submit" class="btn btn-info" ng-click="elemComVm.sendComment(comment)">Leave comment</button>
            </form>
        </div>

        <div class="col-sm-6 col-md-6 comments">
            <div class="comment-overflow">

                <div class="comment" ng-repeat="comment in elemComVm.commentsArray">
                    <div class="comment-info">
                        <div class="person">
                            <img class="comment-img" ng-src="{{comment.picture}}">
                            <span class="person-name">{{comment.name}} {{comment.surname}}</span>
                            <p class="person-date">{{comment.date}}</p>
                        </div>
                        <div class="comment-stars">
                            <uib-rating class="comment-left-stars"
                                 ng-model="comment.stars"
                                 max="5"
                                 data-readonly="elemComVm.readOnly"
                                 aria-labelledby="default-rating">
                            </uib-rating>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p>{{comment.text}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
