.btn-wrapper {
    margin: 0 auto;
}

.preprepre {
    width: 150px;
}

.thumbnail .address {
    font-size: 16px !important;
    font-weight: 400;
}

.thumbnail {
    text-decoration: none !important;
    background: rgba(255, 255, 255, 1);
}
.thumbnail:hover {
    transition: 0.3s ease-in-out all;
    background: rgb(230, 255, 253);
}

.slide {
    opacity: 1;
  transition: 0.7s ease-in-out all;
  -webkit-transition: 0.7s ease-in-out all;
}

.slide.ng-enter {
  opacity: 0;
}

.slide.ng-enter.ng-enter-active {
  opacity: 1;
}

.slide.ng-leave {
  opacity: 0;
}

.slide.ng-leave.ng-leave-active {
  opacity: 0;
}
