.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
    height: 220px;
    overflow: hidden;
    -webkit-box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 52px 8px rgba(0,0,0,0.75);
}

.thumbnail img.pull-right {
    width: 70px;
}
.pull-right {
    float: none !important;
}
.museum {
    background: rgba(244, 67, 54, 0.51) !important;
}
.bar {
    background: rgba(156, 39, 176, 0.52) !important;
}
.cafe {
    background: rgba(63, 81, 181, 0.51) !important;
}
.club {
    background: rgba(76, 175, 80, 0.51) !important;
}
.hotel {
    background: rgba(255, 235, 59, 0.51) !important;
}
.restaurant {
    background: rgba(255, 87, 34, 0.53) !important;
}

#mydiv {
    position: absolute;
    z-index: 9999;
    top: 300px;
    left: 375px;
}
.container {
    position: relative;
}
