<div class="jumbotron text-center">
    <div class="filter {{favoriteVm.actualCategory}}">
        <div class="row">
        <div>
            <div class="col-sm-12 col-md-12 slide"
            ng-repeat="item in favoriteVm.favoriteList" ng-drop="true" ng-drop-success="favoriteVm.onDropComplete($index,$data,$event)">
                
                <div ng-drag="true" 
                ng-drag-data="item">

                            <!-- problem with propagation -->
                            <button type="button" class="btn btn-danger btn-xs" 
                            ng-click="favoriteVm.removeFavorite(item)" 
                            ng-show="!favoriteVm.showRemove(item.id)">Remove from favorite</button> 
                            <a class="thumbnail thumbnail-favorite"
                            href="#/category/{{favoriteVm.route}}/{{item.id}}"></a>
                            <!-- problem with propagation -->

                    <div class="thumbnail thumbnail-favorite">
                        <div class="caption">
                            <img class="pull-right" ng-src="{{item.picture.data.url}}">
                            <h3 class="header-title">{{ item.name }}</h3>
                            <p class="address">{{ item.location.street }}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12"
             ng-if="favoriteVm.googleMapApiReady && favoriteVm.state">
                <ce-google-map-position></ce-google-map-position>
            </div>
        </div>
        </div>
    </div>
</div>
