<div class="container favorite-places">

    <div class="favorite-places__description text-center">
        <h1>Favorite places!</h1>
        <h2>This list represents the places that you added in the past to favorites.</h2>
    </div>

    <ul class="collection favorite-places__list">
        <li class="collection-item avatar"
            ng-repeat="item in favoriteVm.favoriteList">
            <div class="collection-item__body">
                <img ng-src="{{item.picture.data.url}}" alt="" class="circle">
                <div class="title-wrapper">
                    <span class="title">{{ item.name }}</span><br>
                    <span>{{item.location.country}}, {{item.location.city}}, {{item.location.street}}</span>
                </div>
                <div class="secondary-content collection-item__body__buttons">
                    <a class="btn-floating btn-large waves-effect waves-light blue"
                       href="#/category//{{item.id}}">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </a>
                    <a class="btn-floating btn-large waves-effect waves-light red"
                       ng-click="favoriteVm.removeFavorite(item)">
                        <i class="material-icons">delete_forever</i>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>

